body {
 background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQmEPZ7-NWKpelCCVy5BjluhGtscR_tijbMT28RyyIWglIO6vf1&usqp=CAU);
}

h1 {
 text-align: center;
 font-family: Open Sans condensed;
}

p {
 text-align: center;
 font-family: Open Sans;
}

li {
 font-family: Open Sans
}

h2 {
 text-align: center;
 font-family: Open Sans condensed;
}

img {
 display: block;
  margin-left: auto;
  margin-right: auto;
 width: 50%
}

h4 {
 position: absolute;
 top: -10px;
 left: 9px;
 font-family: Open Sans condensed;
 padding: 15px;
 width: 75px;
 background-color: rgba(255, 255, 255, 0.8);
 position: fixed;
}

a:visited {
 color: black;
}

.body {
 display: table;
 margin: auto;
 margin-top: 10px;
 margin-bottom: 10px;
 padding-left: 10px;
 padding-right: 10px;
 background: rgba(240, 248, 255, 0.8);
}

#rockruff {
 margin-top: -20px;
}
